.registration-form {
  display: flex;
  flex-direction: column;

}

.input-box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: left;
}

.centering {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.registration-btn {
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius:5px;
  font-family: "Cormorant", serif;
  font-weight: 600;
  text-align: center;
  padding: 0.5em 1.5em;
  width: fit-content;
  margin-bottom: 15px;
}

.registration-btn:hover{
    background-color: teal;
}


h2 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .registration-form {
    display: flex;
    flex-direction: column;

  }
}
