.registration-form {
  display: flex;
  flex-direction: column;
}

.input-box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: left;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.registration-btn {
  border: none;
  border-radius: 5px;
  background-color: white;
  font-family: "Cormorant", serif;
  font-weight: 600;
  text-align: center;
  padding: 0.5em 1.5em;
  width: fit-content;
  margin-bottom: 15px;
}

.registration-btn:hover {
  background-color: teal;
}

h2 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .registration-form {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 720px) {
  .registration-form {
    font-size: 23px;
  }
}
