.main-graph {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 70px;
  align-items: center;
}

.linegraph {
  margin-top: 30px;
  width: 75%;
  height: 200px;
  margin-right: 40px;
  margin-bottom: 75px;
}

.centering {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul {
  padding-left: 0;
  margin-bottom: 30px;
}

.sleep {
  text-align: center;
}

RadarChart {
  margin-bottom: 15px;
}

@media (min-width: 720px) {
  .main-graph {
    font-size: 25px;
  }

  .react-calendar__month-view__weekdays
    > .react-calendar__month-view__weekdays__weekday
    abbr {
    font-size: 16px;
  }

  .react-calendar__navigation__label__labelText {
    font-size: 20px;
  }
}
