.header {
  display: flex;
  text-align: center;
  font-family: "Cormorant", serif;
  align-content: center;
  align-items: center;
  width: stretch;
}

h1 {
  font-size: 30px;
  margin-bottom: 0;
}

nav {
  font-family: "Cormorant", serif;
  position: absolute;
  top: 0;
  font-size: 20px;
  align-items: center;
}
.express-yourself {
  font-family: "Cedarville Cursive", cursive;
  font-size: 20px;
}

.victory {
  text-decoration: none;
  color: maroon;
  font-weight: 700;
}
.victory:hover {
  color: teal;
}

.heading {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.heading:hover {
  color: teal;
}

.title {
  font-size: 55px;
}
