.header {
  text-align: center;
  font-family: "Cormorant", serif;
  align-content: center;
  width: stretch;
}

h1 {
  font-size: 30px;
  margin-bottom: 0;
}

nav {
  font-family: "Cormorant", serif;
  position: absolute;
  top: 0;
  left: 0;
}
.express-yourself {
  font-family: "Cedarville Cursive", cursive;
  font-size: 20px;
}


.victory{
  text-decoration: none;
  color:maroon;
}
.victory:hover{
  color: teal;
}

.title {
  font-size: 55px;
}
