.header {
    text-align: center;
    font-family: 'Cormorant', serif;
}

h1 {
    font-size: 30px;
    margin-bottom: 0;
}

nav {
    font-family: 'Cormorant', serif;
    position: absolute;
    top:0;
    left:0;
}
.express-yourself{
    font-family: 'Cedarville Cursive', cursive;
    font-size:20px;
}