.journal-container {
  text-align: center;
  border: solid 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: white;
  font-family: "Cormorant", serif;
  text-align: center;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.face-style:hover{
  color:teal;
}
.face-style{
  cursor:pointer
}
.face-style--visited{
  background-color:goldenrod;
}

#textarea-style{
  margin-bottom: 10px;
  border-radius:5px;
  
}

.listing{
  list-style-type: none;
}

.text-style{
  font-weight: bold;
}
.journal-btn {
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius:5px;
  font-family: "Cormorant", serif;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}

.journal-btn:hover {
  background-color:teal;

}
.journal-wrapper{
  display:flex;
  justify-content: center;
}

.btn-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

textarea {
  resize: none;
  text-align: center
}

#textarea-style {
  width: 70vw;
  height: 200px;
}