.planning-block {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.addTask{
    width: fit-content;
}

.right-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.buton {
    width: fit-content;
}