.journal-container {
  text-align: center;
  border: solid 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: white;
  font-family: "Cormorant", serif;
  text-align: center;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.task-space {
  margin: 0 4px 5px 20px;
}

.nobullets {
  list-style-type: none;
}
.garbage {
  cursor: pointer;
}
.garbage:hover {
  color: teal;
}

.plus {
  cursor: pointer;
}

.plus:hover {
  color: teal;
}

.face-style:hover {
  color: teal;
}
.face-style {
  cursor: pointer;
  font-size: 2.5em;
}

.face-size {
  font-size: 2.5em;
}
.face-style--visited {
  background-color: goldenrod;
}

#textarea-style {
  margin-bottom: 10px;
  border-radius: 5px;
}

.listing {
  list-style-type: none;
  overflow-wrap: break-word;
}

.task-block {
  width: 85vw;
}

.text-style {
  font-weight: bold;
  margin-top: 23px;
}
.journal-btn {
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-family: "Cormorant", serif;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}

.journal-btn:hover {
  background-color: teal;
}
.journal-wrapper {
  display: flex;
  justify-content: center;
}

.btn-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

textarea {
  resize: none;
  text-align: center;
}

#textarea-style {
  width: 70vw;
  height: 200px;
}

.entry {
  overflow-wrap: break-word;
  width: 85vw;
}

.mindful {
  max-width: 85vw;
  overflow-wrap: break-word;
}

@media (min-width: 720px) {
  .journal-container {
    font-size: 25px;
  }

  .journal-btn {
    font-size: 20px;
  }
}
