.loginroute-container{
    border: solid 4px rgba(0,0,0,0.5);
    border-radius: 5px;
    background-color: white;
    font-family: 'Cormorant', serif;
    text-align: center;
    width: 75%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-wrapper{
    display: flex;
    justify-content: center;
}

input{
    height: 30px;
    width: 150px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
}

