body {
  background-color: oldlace;
}

.main-container {
  text-align: center;
  border: solid 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: white;
  font-family: "Cormorant", serif;
  text-align: center;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.desc-bullet {
  list-style-type: none;
}
.desc {
  padding: 8px;
}

@media (min-width: 720px) {
  .main-container {
    font-size: 25px;
  }
}
